@import "../utils/styles/common.scss";

.details{
    width: 100%;
    height: 100%;
    background: #eee;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.header{
    width: 100%;
    height: pxrem(108px);
    display: flex;
    justify-content: space-between;
    div:first-child{
        width: pxrem(66px);
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: pxrem(48px);
            font-weight: 600;
        }
    }
    div:nth-child(2){
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:pxrem(36px);
    }
    div:last-child{
        width: pxrem(66px);
    }
}

.main{
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    background:#ccc;
}   
.swiper{
    width: 100%;
    height: pxrem(384px);
    img{
        width: 100%;
        height: 100%;
    }
}
.list{
    width: 100%;
    height: pxrem(86px);
    background:#ccc;
    display: flex;
    div{
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p:first-child{
            padding-right: pxrem(20px);
            color: red;
        }
        p{
            padding: 0;
            margin: 0;
        }
    }
}
.price{
    width: 100%;
    height: pxrem(302px);
    background: #fff;
    display: flex;
    flex-direction: column;
    div{
        width: 100%;
        text-align: center;
    }
    div:first-child{
        padding-top: pxrem(40px);
        font-size: pxrem(48px);
        font-weight: 800;
    }
    div:nth-child(2){
        padding-top: pxrem(16px);
        font-size: pxrem(32px);
    }
    div:last-child{
       flex: 1;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: pxrem(48px);
       color: red;
      
    }
}
.specification{
    width: 100%;
    height: pxrem(108px);
    background: #fff;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    div:first-child {
        width: pxrem(476px);
    }
    div:nth-child(2){
        width: pxrem(70px);
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            flex: 1;
            text-align: center;
            line-height:pxrem(108px);
            font-size: pxrem(38px);
            font-weight: 600;
            color: red;
        }
    }
    div:last-child{
        flex: 1;
        display: flex;
        justify-content: center;
        line-height: center;
        font-size: pxrem(36px);
        i{
            font-size: pxrem(36px);
            font-weight: 600;
        }
    }
}
.introduce{
    margin-top:pxrem(20px);
    width: 100%;
    padding: pxrem(40px);
    background: #fff;
    display: flex;
    flex-direction: column;
    
}
.content{
    width: 100%;
    flex: 1;
    div{
        width: 100%;
        background: #ccc;
        display: flex;
        margin-top:pxrem(8px);
        align-items: center;
        line-height: pxrem(86px);
        p:first-child{
            width: pxrem(220px);
            color:grey;
            padding: 0 pxrem(16px);
            text-align: center;
            font-size: pxrem(40px);
        }
        p:last-child{
            flex: 1;
            padding: 0 pxrem(2px);
            line-height: pxrem(80px);
            font-size: pxrem(40px);
        }
    }

}
.Img{
    width: 100%;
    height: auto;
    p{
        width: 100%;
        margin: 0;
        padding: 0;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

.issue{
    width: 100%;
    height: auto;
    padding: pxrem(40px);
    margin-top: pxrem(10px);
    background: #fff;
    .wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: pxrem(20px);
        div:first-child{
            width: 100%;
            font-size: pxrem(40px);
            line-height: pxrem(60px);
        }
        div:last-child{
            width: 100%;
            font-size: pxrem(30px);
            line-height: pxrem(50px);
            color: grey;
        }
        span{
            color: red;
            margin-right: pxrem(10px);
        }
    }
}
.everybody{
    width: 100%;
    margin-top: pxrem(30px);
    background: #fff;

}
.titles{
    width: 100%;
    padding: pxrem(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2196f3;
}
.titles::after{
    content: "";
    width: pxrem(80px);
    height: pxrem(2px);
    background:#2196f3;
    margin: 0 pxrem(20px);
   
}
.titles::before{
    content: "";
    width: pxrem(80px);
    height: pxrem(2px);
    background:#2196f3;
    margin: 0 pxrem(20px);
}
.ImgList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    div:nth-child(2n){
        border-right: none;
    }
}
.ImgItem{
    width: 50%;
    height: auto;
    padding: pxrem(20px);
    border-top: pxrem(2px) solid #f5f5f9;
    border-right: pxrem(2px) solid #f5f5f9;
    div:first-child{
        width: 100%;
        height: auto;
        min-height: pxrem(90px);
        img{
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}
.name{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div:first-child{
        text-align: center;
    }
    div:last-child{
        color: red;
    }
}


.footer{
    width: 100%;
    height: pxrem(106px);
    background: #fff;
    flex-shrink: 1;
    display: flex;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: pxrem(60px);
        }
    }
    div:first-child{
        width: 20%;
        height: 100%;
    }
    div:nth-child(2){
        width: 20%;
        height: 100%;
        position: relative;
        i{
            color: blue;
        }
        span{
            position: absolute;
            top: pxrem(4px);
            right: pxrem(44px);
            font-size: pxrem(40px);
            font-weight: 600;
            color: red;
        }
    }
    div:nth-child(3){
        width: 30%;
        height: 100%;
        color: #fff;
        background: linear-gradient(to right, #ff9500, #ff5e3a);
    }
    div:last-child{
        width: 30%;
        height: 100%;
        color:#fff;
        background:linear-gradient(to right,#1d62f0,#19d5fd) ;
    }
}

  
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2196f3;
    padding: .1rem 0;
}
.title::after{
    content: "";
    width: pxrem(80px);
    height: pxrem(2px);
    background:#2196f3;
    margin: 0 pxrem(20px);
   
}
.title::before{
    content: "";
    width: pxrem(80px);
    height: pxrem(2px);
    background:#2196f3;
    margin: 0 pxrem(20px);
}