.specai-wrap{
    width: 100%;
    height: 100%;
}
.specialele img{
    width: 100%;
    height: 200px;
}
.specialele div{
    text-align: center;
}
.specialele p{
    color: red;
    text-align: center;
}